{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-12 home__block1">
                      <div class="home--square">
                        <div class="home--content">
                          <div class="home--content-wrapper">
                            <div class="home--content-inner">
                              <h1>{% trans "Have great views <br> inside your house" context "Homepage title" %}</h1>
                              <h2>{% trans "" context "Homepage title" %}</h2>
                                <a class="btn btn-secondary home__button" href="/products/category/all-products-1/">
                                  {% trans "Shop now" context "Homepage action" %}
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-12 home__block4">
                      <div class="home--square">
                        <div class="home--content">
                          <div class="home--content-wrapper">
                            <div class="home--content-inner">
                              <h1>{% trans "Promo & Sale" context "Homepage title" %}</h1>
                              <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>
                                <a class="btn btn-secondary home__button" href="#">
                                  {% trans "Shop now" context "Homepage action" %}
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-12 home__block5">
                      <div class="home--square">
                        <div class="home--content">
                          <div class="home--content-wrapper">
                            <div class="home--content-inner">
                              <h1>{% trans "Promo & Sale" context "Homepage title" %}</h1>
                              <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>
                                <a class="btn btn-secondary home__button" href="#">
                                  {% trans "Shop now" context "Homepage action" %}
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <div class="home__featured">
          <br>
          <h1 class="text-center">{% trans "Categories" context "Homepage title" %}</h1>
        </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1 style="color: black;background-color: gainsboro">{% trans "Gardening Engines" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="/products/category/gardening-devices-2/">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1 style="color: black;background-color: gainsboro">{% trans "Gardening Tools" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="/products/category/gardening-tools-3/">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h1 class="text-center">{% trans "Featured products" context "Homepage title" %}</h1>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
